doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    //- link(rel='stylesheet', href='/style-light.css')
  body
    main
      div(id='content')
        block content
